h2 {
    color: #bce8f1;
    font-size: 100px;
    font-style: italic;
    font-family: "Glyphicons Halflings", sans-serif;
}
.firstline {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;}

.instruction {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;}

.secondline {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}
.thirdline {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}
.gold {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}
.score {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}

.red {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}

.div {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;

}

    .highscores {
        color: #bce8f1;
        font-size: 36px;
        font-style: italic;
        font-family: "Times New Roman", Georgia, Serif;
    }
        .scoreBoard {
        color: #bce8f1;
        font-size: 36px;
        font-style: italic;
        font-family: "Times New Roman", Georgia, Serif;
    }


    .me {
    color: #bce8f1;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}
body {
    background-image: url("../assets/castle storm.jpg");
}
    .fullName {
        color: #bce8f1;
        font-size: 36px;
        font-style: italic;
        font-family: "Times New Roman", Georgia, Serif;
    }
{
image: url("../assets/pink dragon.png");

}


#greeting {
    display: none;
    position: absolute;
left: 40%;
top: 40%;
background: #fff;
width: 350px;
height: 300px;
border: 2px solid gray;
border-radius: 5px;
padding: 20px;
}